@model IEnumerable<MovieWebSite.Models.Movie>

@{
    ViewBag.Title = "Index";
}


<table>
    <tr>
        <td>
            <h2>Movies:</h2>
        </td>
        <td></td>
        <td></td>
        <td></td>
        @if (Context.User.Identity.IsAuthenticated)
        {
        <td align="right">
            <p style="position:absolute; right:25%;">
                @Html.ActionLink("New Movie", "Create", null, new { @class = "btn btn-primary" })
            </p>
        </td>
        }
        else
        {

        }
    </tr>
</table>

<br />
<div class="container">

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Genre</th>
            <th>Year</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                <td style="vertical-align:middle;"><div><IMG src="@item.MovieImageURL" width="60" height="88" class="img-thumbnail"></div></td>
                <td style="vertical-align:middle;">@item.MovieTitle</td>
               @* <td style="vertical-align:middle; word-break:break-word; table-layout:fixed;">
    @ @for (int i = 0; i < item.MovieGenres.ToList().Count; i++)
        {
            @item.MovieGenres.ElementAt(i).Name
            if (i < item.MovieGenres.ToList().Count - 1)

            {
                @:,
            }
        }


                </td>*@
                <td style="vertical-align:middle;">@item.MovieGenres</td>
                <td style="vertical-align:middle;">@String.Format("{0: dd/MM/yyyy}", item.MovieRelease)</td>
                <td style="vertical-align:middle;">
                    @Html.ActionLink("Details", "Details", new { id = @item.MovieID }, new { @class = "btn btn-primary" })
                </td>
            </tr>

        }
    </table>
</div>
